.footer {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;

  margin-top: 0.2rem;
  padding: 1rem;
  border-top: 0.1rem solid #aaaaaa;

  position: relative;

  height: 10rem;
  width: 100%;
}
